#####################################################################
# 	Extruder
#####################################################################

#	Z on MCU X/Y
[extruder]
############### Different Clockworks Setups ###############
##	Update value below when you perform extruder calibration
##	Higher value means less filament extruded
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	step_distance = 98 / 100 * step_distance_old
############################################################
[extruder]
step_pin: head0:PA9
dir_pin: head0:PA8
enable_pin: !head0:PA10
heater_pin: head0:PB1  # "HEAT"
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: EPCOS 100K B57560G104F
sensor_pin: head0:PA0 # "THERMISTOR"
#pullup_resistor: 2200 # The board uses a 2.2k ohm pullup to work with a PT1000 
min_temp: 10
max_temp: 280
full_steps_per_rotation: 200
microsteps: 16
rotation_distance: 22.7462888 #22.3527612 #Bondtech 5mm Drive Gears
gear_ratio: 50:17
max_power: 1
min_extrude_temp: 180
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
max_extrude_only_distance: 105.0
##  Try to keep pressure_advance below 1.0
pressure_advance: 0.05
##  Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

#####################################################################
#  Bed Heater
#####################################################################
##  SSR - Z board, Fan0 Connector
##  Z board, TB Connector
[heater_bed]
heater_pin: z:PB7
sensor_type: Generic 3950
sensor_pin: z:PA1
max_power: 0.65
min_temp: -100
max_temp: 150
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[verify_heater heater_bed]
max_error: 200
check_gain_time: 180