#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800      #1800

#[safe_z_home]
##	XY Location of the Z Endstop Switch
##	Update -10,-10 to the XY coordinates of your endstop pin 
##	(such as 157,305) after going through Z Endstop Pin
##	Location Definition step.
#home_xy_position:175,175
#speed:100
#z_hop:10

[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
##	Probe points
points:
	100,50
	100,250
	250,250
	250,50

#--------------------------------------------------------------------
speed: 400
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075