#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 3600      #1800

#[safe_z_home]
#home_xy_position:175,175
#speed:100
#z_hop:10

[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
##	Probe points
points:
	100,50
	100,250
	250,250
	250,50
max_adjust: 8

#--------------------------------------------------------------------
speed: 400
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.015

################
# Homing Override
[homing_override]
axes: xyz
set_position_x: 0
set_position_y: 0
set_position_z: 0
gcode:
    {% set max_x = printer["gcode_macro _User_Variables"].max_bed_x %}
    {% set max_y = printer["gcode_macro _User_Variables"].max_bed_y %}
    {% set travel_feedrate = printer["gcode_macro _User_Variables"].travel_speed * 60 %}
    G0 Z20
    G28 Y0
    G0 Y300 F{travel_feedrate}
    G28 X0
    G0 X{max_x/2} Y{max_y/2} F{travel_feedrate}
    G28 Z0
    QUAD_GANTRY_LEVEL
    G0 X{max_x/2} Y{max_y/2} F{travel_feedrate}
    G28 Z0
    G0 X{max_x} Y{max_y} Z150 F{travel_feedrate}