#####################################################################
# 	Extruder
#####################################################################

[extruder]
############### Different Clockworks Setups ###############
##	Update value below when you perform extruder calibration
##	Higher value means less filament extruded
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	step_distance = 98 / 100 * step_distance_old
############################################################
step_pin: sb2040:gpio9
dir_pin: sb2040:gpio10
enable_pin: !sb2040:gpio7
heater_pin: sb2040:gpio6  # "HEAT"
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: Generic 3950
sensor_pin: sb2040:gpio27 # "THERMISTOR"
pullup_resistor: 4700 # The board uses a 2.2k ohm pullup to work with a PT1000 
min_temp: 10
max_temp: 400
full_steps_per_rotation: 200
microsteps: 32
rotation_distance: 53.3131 #53.58 #Bondtech LGX Drive Gears
#rotation_distance: 22.6762888 # 22.7462888   22.3527612 #Bondtech 5mm Drive Gears
gear_ratio: 44:10, 37:17
#max_power: 1
min_extrude_temp: 180
max_extrude_only_distance: 300
max_extrude_cross_section: 50.0
##  Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040
# Confirmed https://ellis3dp.com/Pressure_Linear_Advance_Tool/

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: sb2040:gpio8
run_current: 0.600
interpolate: false
sense_resistor: 0.110
stealthchop_threshold: 999999

[verify_heater extruder]
max_error: 180
check_gain_time: 120
#hysteresis: 5
#heating_gain: 2
